<div class="header">

    <div class="nav">
        <div class="header__logo">
            <a routerLink="/home">
                <img src="/images/logo-jaguar-test.png" alt="logo" />
            </a>
        </div>
        <ul class="nav__list">
            <li class="nav__item">
                <a routerLink="/models" routerLinkActive="active">Models</a>
            </li>
            <li class="nav__item">
                <a routerLink="/buy" routerLinkActive="active">Buy</a>
            </li>
        </ul>
    </div>

    <div class="login">
        <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
</div>