<div class="vehicles">
  <div class="vehicles__card" *ngFor="let vehicle of vehicles$(), let i = index" [@fadeIn]>

    <app-vehicle-image [media]="vehicle.media" [vehicleId]="vehicle.id"></app-vehicle-image>

    <div class="vehicles__info">
      <h3 class="vehicles__title">{{ vehicle.name }}</h3>

      <button class="vehicles__button" (click)="toggleVehicleDetails(vehicle)">
        <span>{{ expandedVehicles.has(vehicle.id) ? 'Hide details' : 'Show details' }}</span>
      </button>
    </div>

  </div>
</div>

@defer () {
<app-vehicle-details-modal *ngIf="selectedVehicle" [vehicle]="selectedVehicle" (close)="deselectVehicle()">
</app-vehicle-details-modal>
}