<div *ngFor="let vehicle of vehicles$()" [@fadeIn]>
  <h3>{{ vehicle.name }}</h3>
  <img class="desktop-img" [ngSrc]="getVehicleImageUrl(vehicle, '16x9')" alt="Vehicle image" width="470" height="246"
    (error)="onImageError($event, '16x9')" preload />
  <img class="mobile-img" [ngSrc]="getVehicleImageUrl(vehicle, '1x1')" alt="Vehicle image" width="246" height="246"
    (error)="onImageError($event, '1x1')" preload priority />


  <button (click)="toggleVehicleDetails(vehicle)">
    <span>{{ expandedVehicles.has(vehicle.id) ? 'Hide details' : 'Show details' }}</span>
  </button>

  <div *ngIf="expandedVehicles.has(vehicle.id)">
    <p *ngIf="!vehicleDetails$()[vehicle.id]">Loading...</p>
    <div *ngIf="vehicleDetails$()[vehicle.id]">
      <p>Description: {{ vehicleDetails$()[vehicle.id].description }}</p>
      <p>Price: {{ vehicleDetails$()[vehicle.id].price }}</p>
      <p>Passengers: {{ vehicleDetails$()[vehicle.id].meta.passengers }}</p>
      <p>Drivetrain: {{ vehicleDetails$()[vehicle.id].meta.drivetrain.join(', ') }}</p>
    </div>
  </div>
</div>